html(lang="en")
include ../includes/head.pug
  include ../includes/script.pug
  title #{siteName} - Logout
body
  main
    .container.center

      h3 logout sukses.
      .btn(class= `${colorTheme}`)
        a(href= "/" ) kembali ke halaman utama