footer.page-footer(class= `${colorTheme}`)
  .container
    .row
      .col.l6.s12
        h5.white-text About Us
        p.grey-text.text-lighten-4
          | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
      .col.l3.s12
        h5.white-text Links
        ul
          li
            a.white-text(href='/') Home
          li
            a.white-text(href=link.designer) desainer
          li
            a.white-text(href=about) About
      .col.l3.s12
        h5.white-text Connect
        ul
          li
            a.white-text(href='https://github.com/ijash/') Jastria Rahmat
          li
            a.white-text(href='https://github.com/josefebrian') Jose Febrian
          li
            a.white-text(href='https://github.com/ijash/outfitku') Project Github
          li
            a.white-text(href='https://nodejs.org') Built with Node.js
  .footer-copyright
    .container
      | Made by 
      a.brown-text.text-lighten-3(href='https://github.com/ijash/outfitku') Ijash, Jose