.navbar-fixed { z-index: 998; }
/*
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */
.parallax-container {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.17) )
}

.scrollable{
  width: 100%;
  height: 60%;
  overflow: auto;
}

.textRight{
  border-radius:10px;
}

.textLeft{
  border-radius:10px;
}

.datepicker-date-display { background-color: #263238; }
.datepicker-day.picker__day--today { color: 78909c; }
.datepicker-day--selected, .picker__day--selected:hover,
.datepicker-table td.is-selected{ background-color: #263238}
.picker--focused .picker__day--selected { background-color: #263238;}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{color:#263238;}
.clockpicker-tick:hover { background: #6d4e7a !important; }
.clockpicker-canvas line { stroke: #7f2ca3 !important; }
.clockpicker-canvas-bearing { fill: #6d4e7a !important; }
.clockpicker-canvas-bg { fill: #6d4e7a !important; }
