html(lang="en")
head
  include ../includes/head.pug
  include ../includes/loginmodal.pug
  include ../includes/script.pug
  title Order
body
  include ../includes/header.pug
  main

    h4.left-align Akun Saya
    include ../includes/footer.pug
