html(lang="en")
  head
    include ../includes/head.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug
    title #{siteName} - Desainer
  body
    include ../includes/header.pug
    main
      .div
        .container.center
          .carousel.carousel-slider
            a.carousel-item(href='#one!')
              img(src='public/img/site/banner_designer/2.jpg')
            a.carousel-item(href='#two!')
              img(src='public/img/site/banner_designer/1.jpg')
            a.carousel-item(href='#three!')
              img(src='public/img/site/banner_designer/3.jpg')
            a.carousel-item(href='#four!')
              img(src='public/img/site/banner_designer/4.jpg')

        .container.center.section
          h3 List Desainer
          .row#designerList
            each designer in designers
              .col.s6.m3
                .card.small.hoverable(class= `${colorTheme}` style='height: 20%;')
                  a(href='/designers/'+designer._id)

                    .card-image.center(style='width: 100%;max-height: 100%;')
                      img(src=link.imgCDN+'designers/'+designer._id+'/main/'+designer.picture onerror="this.onerror=null;this.src='/public/img/site/no-image.png';")
                    .card-action
                      b.white-text #{designer.businessName}
          

      include ../includes/footer.pug
    script.
      let instance = M.Carousel.init({
        fullWidth: true
      });