// Modal Structure
#modal_order.modal
  .modal-content
    h4.header.center.dark-text.text-lighten-2 Order
    form(action="/designers/"+designer._id+"/order", method="post")
      .container
        p Lanjutkan order dengan #{designer.businessName} ?
        button.btn.waves-effect.waves-light(type='submit' class= `${colorTheme}`)
          | Buat
          i.material-icons.right send
            
    .modal-footer
