html(lang="en")
  head
    include ../includes/head.pug
    include ../includes/loginmodal.pug
    include ../includes/script.pug
    title #{siteName} - Home
  body
    include ../includes/header.pug
    main
      .container
        h1 About
        p Lorem ipsum dolor sit amet, per eu euismod menandri, vis in atqui accumsan. Prompta ancillae in qui. Sint dolore commodo ea vis, mel ad dicam tollit. Mel ea consequat intellegat, docendi deseruisse id eos. Vim quaeque discere in. Ea esse nostrud maluisset mel, vituperata definitionem vel te.
        p Melius constituam complectitur ut sit, nullam lobortis moderatius per ei. Mel nihil mentitum definitionem et, omnis tibique deserunt ne usu. In pro summo dictas timeam. Ne eum nominavi vulputate conceptam, in mea quando consulatu, qui nisl novum no. His te albucius percipit, error discere eos ad.
        p Offendit incorrupte quo id, qui dicit vitae ad. Posse possim tractatos mel at. Mazim everti pro eu. Decore referrentur nec ea. Ei cum tritani theophrastus, ad fuisset accumsan quo. Quo prompta tibique ei, qui justo platonem constituam id, nec autem persius ad.
        p Efficiantur interpretaris necessitatibus his id, id eos sale signiferumque. Vis dolore percipit consulatu te, pri nominavi facilisi ei. Te mea case dicat honestatis, magna altera menandri ea est, pri in ferri mediocritatem. Nec ne modo deseruisse accommodare, at sale accusamus has.
        p Ea eum paulo tractatos comprehensam. Ei altera aliquando eam, et wisi zril tacimates usu. Ut dico duis perfecto eos. Choro utinam petentium ne has. Mei agam consul ex, id cum labitur dolores. Cu sea erat euripidis voluptatibus, ea qui sint noluisse.
    include ../includes/footer.pug