doctype html
html(lang="en")
  include ../includes/head.pug
  script(defer src= 'public/js/categoriesInit.js')
  title testing
  body
    main
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Id 
        p#categoryId -
        p(style="float:left;width: 10%;min-width: 50px; margin-right: 1em")  Nama 
        p#nama -
